# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Logs
logs/*.log
